

<table>
	<% var i; for (i=0; i < quizes.length; i++) { %>
		<tr>
			<td>
				<a href="quizes/<%= quizes[i].id %>"><%= quizes[i].tema %></a>
			</td>
			<td>
				<a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
			</td>
			<td>
				<a href="quizes/<%= quizes[i].id %>/edit"><button>editar</button></a>
			</td>
			<td>
				<form method='post' action='quizes/<%= quizes[i].id %>?_method=delete'>
					<button type='submit' onClick='return confirm("Borrar: <%= quizes[i].pregunta %>");'>borrar</button>
				</form>
		</tr>
		<% } %>
</table><br><p>

<form method="get" action="/quizes">
<label>Tema </label>
    <select name="tema">
	<option value="Humanidades"
		<% if (quizes[0].tema=="Humanidades"||"") { %> selected <% } %>
	>Humanidades</option>
	<option value="Ocio"
		<% if (quizes[0].tema=="Ocio"||"ocio") { %> selected <% } %>
	>Ocio</option>
	<option value="Ciencia"
		<% if (quizes[0].tema=="Ciencia") { %> selected <% } %>
	>Ciencia</option>
	<option value="Tecnología"
		<% if (quizes[0].tema=="Tecnología") { %> selected <% } %>
	>Tecnología</option>
	<option value="Otro"
		<% if (quizes[0].tema=="Otro") { %> selected <% } %>
	>Otro</option>
	<input type="submit">
</select><br><br>
</form>
<a href = "/quizes/new"><button type"button">Crear pregunta</button></a>
